<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main_template}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>CodeDetail</title>
</head>
<body>
<div layout:fragment="content">
    <h2>코드상세 목록</h2>
    <a href="register.html">
        새로만들기
    </a>
    <table border="1">
        <tr>
            <th align="center" width="160">그룹코드</th>
            <th align="center" width="160">코드값</th>
            <th align="center" width="160">코드명</th>
            <th align="center" width="160">정렬순서</th>
            <th align="center" width="160">등록일시</th>
        </tr>
        <tr>
            <td colspan="5"> List is empty </td>
        </tr>
        <tr>
            <td align="center">그룹코드</td>
            <td align="center">코드값</td>
            <td align="left"><a href="read.html">코드명</a></td>
            <td align="center">정렬순서</td>
            <td align="center">등록일시</td>
        </tr>
    </table>
    <script>
        var result = [[${msg}]];

        if(result == "SUCCESS") {
            alert([[#{common.processSuccess}]]);
        }
    </script>
</div>
</body>
</html>