<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div align="center" th:fragment="menu">
        <table>
            <tr>
                <td width="80">
                    <a href="../home.html" th:href="@{/}">홈</a>
                </td>
                <td width="80">
                    <a href="../codegroup/list.html" th:href="@{/codegroup/list}">코드그룹관리</a>
                </td>
                <td width="80">
                    <a href="../codedetail/list.html" th:href="@{/codedetail/list}">코드그룹관리</a>
                </td>
            </tr>

        </table>
    </div>
</body>
</html>