<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main_template}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>CodeGroup</title>
</head>
<body>
<div layout:fragment="content">
    <h2>코드그룹 수정</h2>
    <form id="codeGroup" action="list.html">
        <table>
            <tr>
                <td>코드그룹코드</td>
                <td>
                    <input type="text" name="groupCode"/>
                </td>
                <td>
                    <span class="error_message">groupName의 에러 메시지</span>
                </td>
            </tr>
        </table>
    </form>
    <div>
        <button type="submit" id="btnModify">수정</button>
        <button type="submit" id="btnList">목록</button>
    </div>
    <script>
            var formObj = document.querySelector("#codeGroup")

            document.querySelector("#btnModify").addEventListener("click", function () {
	            formObj.submit()
            })

            document.querySelector("#btnList").addEventListener("click", function () {
	            self.location = "list";
            })
    </script>
</div>
</body>
</html>